{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/application/application.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <div class="col-md-12">
            <div class="docking-system text-center">
                <img src="/static/www/img/index/shu_xian.png">
                <span>对接系统</span>
            </div>
            <!--第一层-->
            <div class="col-md-12 game">
                <!--左面文字-->
                <div class="col-md-4 docking-game-system">
                    <p>对接游戏系统</p>
                    <div class="game-text">
                        <span>
                            FOREXCOIN 对接的是一套完整的益智类游戏软件，主要的目的是记录外汇汇率的波动走势和外汇交易的游戏，包含外汇的教学视频，外汇的交易视频，
                            也可以实际进行操作，简单的易懂的去学习和模拟外汇交易。 用户利用积分系统可以参与外汇交易，获得积分后可以在商城中进行兑换，游戏包含：
                            单人模式，对战模式和实盘交易模式，多人房间模式等。
                        </span>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <!--右面图片-->
                <div class="col-md-6">
                    <img src="/static/www/img/application/one_pic.png">
                    <img src="/static/www/img/application/one_bj.png">
                </div>
            </div>
            <!--第二层-->
            <div class="col-md-12 pawn">
                <div>
                    <img src="/static/www/img/application/yuan.png">
                    <img src="/static/www/img/application/two.png">
                    <img src="/static/www/img/application/guai_jiao.png">
                </div>
                <div class="two-text">
                    <p>对接典当系统</p>
                    <span>
                        FOREXCOIN 包含合作的典当公司，当用户的积分兑换的物品不需要的时候可以根据地区选择典当公司把积分换来的物品进行典当，
                        获取货币。
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/foot" /}