<link type="text/css" href="/static/www/css/foot.css" rel="stylesheet">
<link type="text/css" href="//at.alicdn.com/t/font_920511_9k2v8nfc5ll.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0" style="background:rgba(89,97,106,1);">
        <!--底部表格-->
        <div class="foot-table">
            <!--logo-->
            <div class="foot-table-logo">
                <img src="/static/www/img/foot/foot_logo.png" alt="logo">
            </div>
            <p>通讯注册</p>
            <p>获得免费的营销计划和帮助</p>
            <form>
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="填写邮箱" required>
                </div>
                <div class="col-md-12 text-center button-size">
                    <input id="logo" type="button"  value="提交">
                </div>
            </form>
        </div>
        <div class="customer-notice">
            <div class="col-md-4"></div>
            <!--客户须知-->
            <div class="col-md-1">
                <ul>
                    <li>客户须知</li>
                    <li>众售规则</li>
                    <li>风险提示</li>
                    <li>免责声明</li>
                </ul>
            </div>
            <!--挖矿及隐私保护-->
            <div class="col-md-1">
                <ul>
                    <li>挖矿及隐私保护</li>
                    <li>挖矿智能合约</li>
                    <li>付费机制</li>
                </ul>
            </div>
            <!--FX平台-->
            <div class="col-md-1">
                <ul>
                    <li>FX平台</li>
                    <li>NEO智能合约</li>
                    <li>FX架构</li>
                </ul>
            </div>
            <!--联系我们-->
            <div class="col-md-1 foot-bottom-margin">
                <ul>
                    <li>联系我们</li>
                    <li><i class="iconfont icon-address"></i> 地址 ：3666 street address, Newyork, NY, 33333 USA</li>
                    <li><i class="iconfont icon-tel"></i> 电话 ：+(333) 052 33333</li>
                    <li><i class="iconfont icon-email"></i> 邮箱 ：btb@FOREXCOIN.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <script>
      $(function(){
          // alert($(window).width());
      })
    </script>
  </body>
</html>
