<link type="text/css" href="/static/www/css/foot.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <!--底部表格-->
        <div>
            <!--logo-->
            <div><img src="" alt="logo"></div>
            <p>通讯注册</p>
            <p>获得免费的营销计划和帮助</p>
            <form>
                <input type="email" placeholder="填写邮箱" required>
                <input id="logo" type="button"  value="提交">
            </form>
        </div>
        <!--客户须知-->
        <div>
            <ul>
                <li>客户须知</li>
                <li>众售规则</li>
                <li>风险提示</li>
                <li>免责声明</li>
            </ul>
        </div>
        <!--挖矿及隐私保护-->
        <div>
            <ul>
                <li>挖矿及隐私保护</li>
                <li>挖矿智能合约</li>
                <li>付费机制</li>
            </ul>
        </div>
        <!--FX平台-->
        <div>
            <ul>
                <li>FX平台</li>
                <li>NEO智能合约</li>
                <li>FX架构</li>
            </ul>
        </div>
        <!--联系我们-->
        <div>
            <ul>
                <li>联系我们</li>
                <li><img>地址 ：</li>
                <li><img>电话 ：</li>
                <li><img>邮箱 ：</li>
            </ul>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <script>
      $(function(){
          // alert($(window).width());
      })
    </script>
  </body>
</html>
