<link type="text/css" href="/static/www/css/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid head-bj" style="padding: 0px;background:rgba(89,97,106,1);">
    <div class="row margin-0">
       <!--login-->
        <div class="logo">
            <img src="/static/www/img/index/logo.png" width="100%">
        </div>
        <div  class="login_text">
            <ul>
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
        </div>
    </div>
</div>