.about-one{
    margin-top: 88px;
    height: 573px;
}
.about-one i{
   margin-top: -5px;
}
.about-one span{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
}
.about-one-p{
    width:369px;
    height:100px;
}
.about-one-p p{
    font-size:17px;
    font-family:MicrosoftYaHei;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:42px;
}
.about-one-text{
    width:551px;
    height:239px;
    z-index: 3;
    position: absolute;
    left: -328px;
    top: 198px;
    font-size:11px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.shu-xian{
    width:3px;
    height:20px;
    background:rgba(254,131,12,1);
    float: left;
    margin:10px 10px 0 0;
}
.about-one img:first-child{
    width:438px;
    height:384px;
    border-radius:7px;
    position: absolute;
    z-index: 1;
    margin-left: 18px;
}
.about-one img:nth-child(2){
    width:653px;
    height:325px;
    position: absolute;
    left:-378px;
    top:162px;
    z-index: 2;
}
/*汇率区域块链的特点*/
.characteristic{
    background:rgba(241,240,240,1);
    padding-top: 85px;
}
.characteristic-shu-xian{
    width:3px;
    height:24px;
    background:rgba(254,131,12,1);
    position: absolute;
    left: 550px;
    top:10px;
}
.characteristic h1{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin: 0;
}
.one-margin{
    margin: 81px 0 174px 0;

}
.left-text p{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:34px;
    margin: 0;
}
.left-text span{
    font-size:11px;
    font-family:MicrosoftYaHei;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:23px;
}
.one-img{
    width:400px;
    height:478px;
    margin-top: 39px;
}
.two-img{
    width:399px;
    height:226px;
}
.left-text{
    width:386px;
}
.right-down-text{
    margin-top: 39px;
    width: 395px;
}
.right-down-text p{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:34px;
}
.right-down-text span{
    font-size:11px;
    font-family:MicrosoftYaHei;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:24px;
}
@media (min-width:1367px) {

}