
.button-size input{
    width:104px;
    height:35px;
    background:rgba(254,131,12,1);
    border: 0;
}
.customer-notice{
    margin-top:70px;
}
.customer-notice ul li:first-child{
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    /*margin-bottom: 25px;*/
}
.customer-notice ul li a{
    color:rgba(255,255,255,1);
}
.customer-notice ul li:not(:first-child){
    font-size:10px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 25px;
    white-space: nowrap;
}
.foot-bottom-margin{
    margin-bottom: 129px;
}
.foot-bottom-margin ul li i{
    margin-right: 5px;
}
.customer-notice .col-md-1{
    margin-left: 45px;
}
.privacy{
    width: 100px;
}
@media (min-width:1367px) {

}