.carousel-img img{
    width: 1349px;
    height: 623px;
}
.menu-text{
    position: absolute;
    left: 674px;
    top: 67px;
}
.menu-text ul li{
    list-style: none;
    float: left;
}
.menu-text ul li:not(:nth-child(1)){
    margin-left: 56px;
}
.menu-text ul li a{
    font-size:11px;
    font-family: MicrosoftYaHei, serif;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.menu-text ul li a:hover{
    color:rgba(254,131,12,1);
}
.block-chain{
    width: 362px;
    height: 244px;
    margin: 89px 0 88px 253px;
    float: left;
}
.block-chain-text{
    width:450px;
    height:164px;
    margin: 126px 259px 131px 25px;
    float: right;
}
.shu-xian{
    width: 3px;
    height: 24px;
    float: left;
}
.block-chain-text h1{
    margin: 0;
    font-size:17px;
    font-family: ArialMT;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin: -10px 0 0 17px;
}
.block-chain-text p{
    font-size:11px;
    font-family: ArialMT;
    color:rgba(51,51,51,1);
    font-weight:600;
    line-height:27px;
    margin-top: 10px;
}
.area-block-bj{
    background:rgba(241,240,240,1);
}
.area-block-icon{
    width:3px;
    height:25px;
    float: left;
}
.area-block-title{
    margin: 89px 524px 0 524px;
}
.area-block-title h2{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin:-10px 0 0 13px;
}
.area-block-img{
    margin: 226px 374px 0 369px;
}
.area-block-img div{
    float: left;
    width: 189px;
    height: 189px;
}
.area-block-img div:not(:nth-child(1)){
    margin-left: 228px;
}
.area-block-pic-title{
    clear: both;
}
@media (min-width:1367px) {

}


