

.block-chain{
    width: 362px;
    height: 244px;
    margin: 89px 0 88px 0;
    float: left;
}
.block-chain-text{
    width:450px;
    height:164px;
    margin: 126px 0 131px 25px;
    float: right;
}
.shu-xian{

}
.block-chain-text span{
    margin: 0;
    font-size:17px;
    font-family: ArialMT;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin: -10px 0 0 17px;
}
.block-chain-text p{
    font-size:11px;
    font-family: ArialMT;
    color:rgba(51,51,51,1);
    font-weight:600;
    line-height:27px;
    margin-top: 10px;
}
.area-block-bj{
    background:rgba(241,240,240,1);
}
.area-block-icon{
    width:3px;
    height:25px;
    float: left;
}
.area-block-title{
    margin: 89px 0 0 0;
}
.area-block-title h2{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin:-10px 0 0 13px;
}
.area-block-img{
    margin: 226px 0 0 0;
}

/*.area-block-pic-title{*/
    /*float: left;*/
    /*margin: 53px 0 10px 394px;*/
/*}*/
/*.area-block-pic-title div{*/
    /*float: left;*/
/*}*/
/*.area-block-pic-title div:nth-child(2){*/
    /*margin-left: 352px;*/
/*}*/
/*.area-block-pic-title span{*/
    /*font-size:18px;*/
    /*font-family:MicrosoftYaHei;*/
    /*font-weight:bold;*/
    /*color:rgba(51,51,51,1);*/
    /*line-height:34px;*/
/*}*/
/*.area-block-pic-text{*/
    /*margin-left: 267px;*/
    /*float: left;*/
/*}*/
/*.area-block-pic-text div:first-child{*/
    /*width:391px;*/
    /*height:146px;*/
/*}*/
/*.area-block-pic-text div:nth-child(2){*/
    /*width:384px;*/
    /*height:95px;*/
    /*margin-left: 34px;*/
/*}*/
.contact-us-bj{
    background-image: url("/static/www/img/index/lian_xi.png");
    background-size: 100% 100%;
}
.contact-us-title{
    margin-top: 56px;
}
.contact-us-title img{
    width:3px;
    height:25px;
    margin-top: -10px;
}
.contact-us-title span{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:42px;
    margin: 5px 0 0 15px;
}
.contact-us-form{
    margin: 70px 0 49px;
}

.contact-us-form div input:nth-child(2){
    margin-left: 56px;
}
.form-group:not(:first-child){
    margin-top: 28px;
}
.contact-us-button{
    background:rgba(254,131,12,1);!important;
    border: none;!important;
    font-family:MicrosoftYaHei;!important;
    font-weight:bold;!important;
    color:rgba(255,255,255,1);!important;
    letter-spacing:20px;
    line-height: 15px;
}
/*FXC的设计思考*/
.design-thinking-title{
    margin-top: 58px;
}
.design-thinking-title img{
    width:3px;
    height:23px;
    margin-top: -10px;
}
.design-thinking-title span{
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:42px;
    margin-left: 16px;
}
.design-thinking-text{
    margin-top: 78px;
}
.design-thinking-text p{
    font-size:11px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:25px;
    margin-left: 5px;
}
.design-thinking-text img{
    width: 100%;
}
.text-box{
    width:424px;
    height:137px;
}
.principle{
    margin-top: 6px;
    width:831px;
    height:120px;
    z-index: 2;
}
.principle p{
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:34px;
}
.principle ul li{
    font-size:11px;
    font-family:MicrosoftYaHei;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:34px;
}
ul{
    /*padding: 0;*/
}
ul li{
    list-style: none;
}
.dislocation-pic img{
    width:251px;
    height:351px;
    margin-top: 0px;
    margin-left: 0;
}
@media (min-width:1367px) {
    .block-chain{
        width:510px;
        height:344px;
        margin: 89px 0 88px 0;
        float: left;
    }
    .block-chain-text{
        width:634px;
        height:231px;
        margin: 126px 0 131px 25px;
        float: right;
    }
    .block-chain-text p{
        font-size:16px;
        font-family: ArialMT;
        color:rgba(51,51,51,1);
        font-weight:600;
        line-height:27px;
        margin-top: 30px;
    }
    .shu-xian{
        color:rgba(254,131,12,1) !important;
    }
    .area-block-icon{
        width:4px;
        height:36px;
        background:rgba(254,131,12,1);
        margin-top: -5px;
    }
    .area-block-title span{
        font-size:36px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:42px;
    }
    .area-block-title img{
        width:4px;
        height:36px;
    }
    .block-chain-text span{
        margin: 0;
        font-size:36px;
        font-family: ArialMT;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:42px;
    }
    .area-block-img{
        margin: 157px 0 100px 0;
    }
    .area-block-img span{
        font-size:26px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:48px;
    }
    .exchange-rate-title{
        margin-top: 20px;
    }
    .exchange-rate-text{
        margin: 10px 0 0 -50px;
        width: 478px;
    }
    .design-thinking-title span{
        font-size:36px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(51,51,51,1);
        line-height:42px;
        margin-left: 16px;
    }
    .design-thinking-title span:first-child{
        color: rgba(254,131,12,1);
    }
    .form-group .col-md-6{
        margin-top: 20px;
    }
    .form-group .col-md-12{
        margin-top: 20px;
    }
    .contact-us-button{
        margin-top: 20px;
    }
    .form-group textarea{
        height: 150px;
    }
    .design-thinking-text p{
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:25px;
        margin-left: 5px;
    }
    .text-box{
        width:550px;
    }
    .principle p{
        font-size:18px;
        font-family:MicrosoftYaHei;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:34px;
    }
    .principle ul{
        padding-left: 0;
    }
    .index-foot{
        margin-top: 181px;
    }
    .cuo-wei img{
        width:387px;
        height:496px;
        position: absolute;
        margin-top: -413px;
    }
}


