{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/about/about.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12 about-one">
                <!--FX愿景-->
                <div class="col-md-6 about-one-p">
                    <div class="shu-xian"></div>
                    <span>FX愿景</span>
                    <p>旨在为外汇交易计算提供一个低成本的、隐私的、弹性的、安全的去中心化人工智能计算平台</p>
                </div>
                <div class="col-md-6">
                    <img src="/static/www/img/about/one_pic.png">
                    <img src="/static/www/img/about/one_bj.png">
                    <div class="about-one-text">
                        <p>
                            1.FXC通过区块链技术让人工智能神经网络运算可以去中心化分布在全世界海量节点之上，从而通过发行FXC币及闲置计算资源再利用达到低成本，
                            是用户自建神经网络服务器的成本30%不到，传统外汇交易中心化云计算平台成本50%不到。
                        </p>
                        <p>2.通过智能合约做到数据提供方和数据训练方的数据物理分离，从而达到保护数据提供方的数据隐私。</p>
                        <p>3.FXC上海量的神经网络计算节点可以根据用户产品计算量进行动态调整，从而满足用户产品的弹性计算要求。</p>
                        <p>
                            4.人工智能威胁一直是悬在人类头顶的达摩斯之剑，各种科幻电影抛出人工智能威胁人类生存的画面。著名物理学家霍金、
                            狂人企业家马斯克都曾发出人工智能威胁论的言辞。虽然从技术角度来说人工智能威胁人类还需要很多年技术的发展，
                            但是如果能够从很早期就建立起技术规范，对人类发展的益处只会更大。我们认为智能合约很可能是解决未来人工智能威胁的一个重要的方法。
                            我们在FXC中将会不断探索通过智能合约去约束人工智能的某些超常行为，为未来潜在的人工智能威胁做好防范。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <!--汇率区域块链的特点-->
        <div class="col-md-12 characteristic">
            <!--标题-->
            <div class="col-md-12 text-center">
                <div class="characteristic-shu-xian"></div>
                <h1>汇率区域块链的特点</h1>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8 one-margin">
                <div class="col-md-6">
                    <div class="col-md-12 left-text">
                        <p class="text-center">合规对接实体金融</p>
                        <span>
                        与实体世界的兼容性是 FOREXCOIN 的目标。 FOREXCOIN 为个人和公司用户都提供了中国法律认可的身份认证方案。
                        通过身份认证的账户所参与交易的电子签名受中国《电子签名法》的认可和保护，等同于实名签章。
                        身份认证是用户可选项，而非强制项。 股权等资产的转让和交易，其实质是各方签署电子合同，受中国《合同 法》认可和保护。
                        </span>
                    </div>
                    <div class="col-md-12">
                        <img class="one-img" src="/static/www/img/about/two_right.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <img class="two-img" src="/static/www/img/about/two_left.png">
                    </div>
                    <div class="col-md-12 right-down-text">
                        <p class="text-center">去中心化的“FOREXCOIN”</p>
                        <span>
                            通过一种 FOREXCOIN 独有的去中心化交易机制“超导交易”，用户能够以超越中心化交易所的体验，完成去中心化交易。
                            用户无需给外汇交易平台充值，就可以在交易所进行挂单。挂单成交后，外汇交易平台将成交的交易信息广播到FOREXCOIN 协议网络中，并被写入区块链。
                        </span><br>
                        <span>
                            例如：某用户 A 通过“FOREXCOIN”出某个货币，该用户无需把货币事 先转入交易所。只需要在本地通过私钥对委托单进行签名，就可挂单。
                            与对 手盘成交后，人民币款项将通过典当直接进入用户 A 的钱包，无需通过交易所 中转。
                            超导交易所无需管理用户的钱财，没有充值提现流程，简化了运营流程， 增加了用户信任度。
                            任何个人和机构都可以成为超导交易所，只要其运行的 服务器能提供稳定的撮合服务。
                        </span><br>
                        <span>
                            FOREXCOIN 超导交易创造了一种新形态的交易——交易所负责信息的撮合，区块链负责财物的交割。
                            由于不托管用户财物，且交易指令均有密码学证据，超 导交易所没什么特殊的权力，因此监管当局很可能不需要对超导交易所进 行前置审批。
                            我们认为随着块链技术的主流化，FOREXCOIN 超导交易这种模式会成为包括 A 股在内的主流金融市场的发展方向。
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}