{include file="public/header" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/bottom_navigation/public_sale_rules.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <!--标题-->
        <div class="col-md-2"></div>
        <div class="col-md-8 public-sale-rules-text">
            <div class="col-md-12 text-center">
                <h1>免责申明</h1>
            </div>
            <div class="col-md-12">
                <p>1. 本文档仅作为传达信息之用，文档内容仅供参考，不构成在FXC及其相关公司中出售股票或证券的任何投资买卖建议、教唆或邀约。此类邀约必须通 过机密备忘录的形式进行，且须符合相关的证券法律和其他法律。</p>
                <p>2. 本文档内容不得被解释为强迫参与代币销售。任何与本白皮书相关的行为均不得视为参与代币销售，包括要求获取本白皮书的副本或向他人分享本白皮书。</p>
                <p>3. 参与代币销售则代表参与者已达到年龄标准，具备完整的民事行为能力，与FXC签订的合同是真实有效的。所有参与者均为自愿签订合同，并在签订合同之前对FXC进行了清晰必要的了解。</p>
                <p>4. FXC团队将不断进行合理尝试，确保本白皮书中的信息真实准确。开发过程中，平台可能会进行更新，包括但不限于平台机制、代币及其机制、代币 分配情况。文档的部分内容可能随着项目的进展在新版白皮书中进行相应调整，团队将通过在网站上发布公告或新版白皮书等方式，将更新内容公布于众。请参与者务必及时获取最新版白皮书，并根据更新内容及时调整自己的 决策。FXC明确表示，概不承担参与者因(i)依赖本文档内容、(ii)本文信息不准确之处，以及(iii)本文导致的任何行为而造成的损失。</p>
                <p>5. 团队将不遗余力实现文档中所提及的目标，然而基于不可抗力的存在，团队不能完全做出完成承诺。</p>
                <p>6. FXC作为FXC的官方代币，是平台发生效能的重要工具，并不是一种投资品。拥有 FXC 不代表授予其拥有者对FXC平台的所有权、控制权、决策权。FXC作为在FXC中使用的加密代币，均不属于以下类别：</p>
                <p>(a)任何种类的货币；</p>
                <p>(b)证券；</p>
                <p>(c)法律实体的股权；</p>
                <p>(d)股票、债券、票 据、认股权证、证书或其他授与任何权利的文书。</p>
                <p>7. FXC 的增值与否取决于市场规律以及应用落地后的需求，其可能不具备任何价值，团队不对其增值做出承诺，并对其因价值增减所造成的后果概不负责。</p>
                <p>8. 在适用法律允许的最大范围内，对因参与众筹所产生的损害及风险，包括但不限于直接或间接的个人损害、商业盈利的丧失、商业信息的丢失或任何其它经济损失，本团队不承担责任。</p>
                <p>9. FXC平台遵守任何有利于代币销售行业健康发展的监管条例以及行业自律申明等。参与者参与即代表将完全接受并遵守此类检查。同时，参与者披露用以完成此类检查的所有信息必须完整准确。</p>
                <p>10. FXC平台明确向参与者传达了可能的风险，参与者一旦参与代币销售众筹，代表其已确认理解并认可细则中的各项条款说明，接受本平台的潜在风险，后果自担。</p>
                <p>11. 禁止代币销售的国家公民不被允许参与。</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}