{include file="public/header" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/bottom_navigation/public_sale_rules.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <!--标题-->
        <div class="col-md-2"></div>
        <div class="col-md-8 public-sale-rules-text">
            <div class="col-md-12 text-center">
                <h1>{$result.bn_title}</h1>
            </div>
            <div class="col-md-12">
                {$result.bn_content}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}