{include file="public/header" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/bottom_navigation/public_sale_rules.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <!--标题-->
        <div class="col-md-2"></div>
        <div class="col-md-8 public-sale-rules-text">
            <div class="col-md-12 text-center">
                <h1>众售规则</h1>
                <small>代币发行</small>
            </div>
            <div class="col-md-12">
                <p>
                    FXC的发行总量为100亿个，其中挖矿产生50%。创始团队认为FXC作为一个已经经过市场验证、具
                    有巨大市场规模和显著应用价值的项目，让铸币过程与经济应用价值强关联，通过核心业务共享存储和计算能力挖矿的机制逐渐发行。每一个代币都对应了发行时所提供服务的计算价值，是一个真正有价值的“资
                    产”并已经落地了的数字货币，会随着发行难度的提升，每一个新产生的代币所需要的流量值会增加，越早持币就越有市场增值预期。
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}