{include file="public/header" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/bottom_navigation/public_sale_rules.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <!--标题-->
        <div class="col-md-2"></div>
        <div class="col-md-8 public-sale-rules-text">
            <div class="col-md-12 text-center">
                <h1>挖矿智能合约</h1>
            </div>
            <div class="col-md-12">
                <p>4.1 挖矿智能合约</p>
                <p>矿工主要收入来自挖矿获得FXC，全网根据贡献值，每1个小时奖励一次FXC，只有成功部署容器并正常运行的节点才有资格获得奖励。</p>
                <p>首次部署镜像的新node奖励1%*95%，异常中断节点将会扣除奖励受到惩罚，并且100小时获奖概率降为1%*1%；</p>
                <p>老节点正常部署镜像获得奖励的概率=99%*99%；异常中断节点将会扣除奖励受到惩罚，并且连续100小时获奖概率降为99%*1%；</p>
                <p>实际获得奖励 数量Count=概率值*当前节点算力贡献/全网节点算力之和</p>
                <p>1）fxc挖矿机制</p>
                <p>FXC挖矿产生的FXC总数为50亿枚，每5年挖矿所得FXC数量减半，第一个5年，总共挖出25亿枚，每年挖出5亿枚。</p>
                <p></p>
                <p>4.1.2 挖矿算法</p>
                <p>I. 模型算法的发布</p>
                <p>研究者针对某一外汇应用研发了新模型后，开源并打包发布至FXC（资源a：模型算法），提供运行环境以及输入输出数据格式标准（资源b：json描述文件），并可以选择用公开数据集提交训练／测试任务（资源c：预训练后的模型／资源d：参考跑分）。发布的模型被他人使用时发布者可以分得代币（基础费用）。</p>
                <p>II. 训练／测试任务的发布</p>
                <p>选择已发布的模型算法，打包数据后发布训练／测试任务。提交前可以显示：</p>
                <p>a. 预估的价格 = 模型算法训练或测试单位成本 * 运行步数（可设置上限）+模型算法基础费用</p>
                <p>b. 可用的节点+预计排队时间</p>
                <p>单位成本 = Averagei(Averagej(模型j单位成本*节点i运行模型j速度) / 当前模型运行速度)</p>
                <p>动态调整所有模型算法的单位成本，使得全网所有节点跑任一模型的总体回报相同。</p>
                <p>任务完成后交易记录在区块中。</p>
                <p>III. 自动领取并运行训练／测试任务</p>
                <p>接收广播到FXC中的任务以及其他节点的运行状态，每隔一定时间创建一个区块并根据算法选择运行 的任务。</p>
                <p>最终的回报除了任务发布者支付的费用外，任务完成后会在当前区块中统计总的“计算量=∑模型算法训练或测试单位成本 * 运行步数， 每个区块总奖池固定，按比例分配给各节点。</p>
                <p>节点分配算法：</p>
                <p>任务发布者希望任务尽快完成；运行任务节点希望最大化收益。</p>
                <p>因此我们用强化学习，最大化所有节点的预期收益。</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}