{include file="public/header" /}
{include file="public/news/head" /}
<link type="text/css" href="/static/www/css/bottom_navigation/public_sale_rules.css" rel="stylesheet">
<div class="container-fluid" style="padding: 0px">
    <div class="row" style="margin: 0px">
        <!--标题-->
        <div class="col-md-2"></div>
        <div class="col-md-8 public-sale-rules-text">
            <div class="col-md-12 text-center">
                <h1>风险提示</h1>
            </div>
            <div class="col-md-12">
                <p>
                    1.系统性风险：是指由于全局性的共同因素引起的收益的可能变动，这种因素以同样的方式对所有证券的收益产生影响。例如政策风险——目前国家对于区块链项目以及代币销售 方式融资的监管政策尚不明确，存在一定的因政策原因而造成参与者损失的可能性；市场风险中，若数字资产市场整体价值被高估，那么投资风险将加大，参与者可能会期望 代币销售项目的增长过高，但这些高期望可能无法实现。同时，系统性风险还包括一系列不可抗力因素，包括但不限于自然灾害、计算机网络在全球范围内的大规模故障、政治动荡等。
                </p>
                <p>
                    2.监管缺场风险：包括 FXC在内的数字资产交易具有极高不确定性，由于数字资产交易领域目前尚缺乏强有力的监管，故而电子代币存在暴涨暴跌、受到庄家操控等情况的风险，个人参与者入市后若缺乏经验，可能难以抵御市场不稳定所带来的资产冲击与心理压力。虽然学界专家、官方媒体等均时而给出谨慎参与的建议，但尚无成文的监管方法与条文出台，故而目前此种风险难以有效规避。
                </p>
                <p>
                    3.监管出台风险：不可否认，可预见的未来，会有监管条例出台以约束规范区块链与电子代币领域。如果监管主体对该领域进行规范管理，代币销售时期所购买的代币可能会受到影响，包括但不限于价格与易售性方面的波动或受限。
                </p>
                <p>
                    4.团队间风险：当前区块链技术领域团队、项目众多，竞争十分激烈，存在较强的市场竞争和项目运营压力。FXC项目是否能在诸多优秀项目中突围，受到广泛认可，既与自身团队能力、愿景规划等方面挂钩，也受到市场上诸多竞争者乃至寡头的影响，其间存在面临恶性竞争的可能。
                </p>
                <p>
                    5.团队内风险：FXC汇聚了一支活力与实力兼备的人才队伍，吸引到了区块链领域的资深从业者、人工智能领域的专家、具有丰富经验的技术开发人员等。作为中国地区区块链在人工智能代币销售领域的先锋角色，团队内部的稳定性、凝聚力对FXC的整体发展至关重要。在今后的发展中，不排除有核心人员离开、团队内部发生冲突而导致FXC整体受到负面影响的可能性。
                </p>
                <p>
                    6.项目统筹、营销风险：FXC创始团队将不遗余力实现白皮书中所提出的发展目标，延展项目的可成长空间。由于本白皮书可能随着项目细节的更新进行调整，如果项目更新后的细节未被 代币销售 参与者及时获取，或是公众对项目的最新进展不了解，参与者或公众因信息不对称而对项目认知不足，从而影响到项目的后续发展。
                </p>
                <p>
                    7.项目技术风险：首先，本项目基于密码学算法所构建，密码学的迅速发展也势必带来潜在的被破解风险；
                    其次，区块链、分布式账本、去中心化、不同意篡改等技术支撑着核心业务发展，FXC 团队不能完全保证技术的落地；再次，项目更新调整过程中，可能会发现有漏洞存在，可通过发布补丁的方式进行弥补，但不能保证漏洞所致影响的程度。

                </p>
                <p>
                    8.黑客攻击与犯罪风险：在安全性方面，单个支持者的金额很小，但总人数众多，这也为项目的安全保障提出了高要求。电子代币具有匿名性、难以追溯性等特点，易被犯罪分子所利用，或受到黑客攻击，或可能涉及到非法资产转移等犯罪行为。
                </p>
                <p>
                    9.目前未可知的其他风险：随着区块链技术与行业整体态势的不断发展，FXC可能会面临一些尚未预料到的风险。请参与者在做出参与决策之前，充分了解团队背景，知晓项目整体框架与思路，合理调整自己的愿景，理性参与代币众筹。
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{include file="public/foot" /}